---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to my Astro site!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Go to my <a href="/gallery">Masonry Gallery</a>.</p>
  </body>
</html>pwd
# Output might be something like: /Users/jpx/Documents

ls
# Output might show: my-other-project  astro-masonry  downloads

cd astro-masonry
# Now you are inside the project folder